Repository DarkRewar/BaseTool, pull requests merged in 2024-05, with the labels that each got.

#47 Add #41
  CHANGELOG.md
  Editor/Core/Drawers.meta
  Editor/Core/Drawers/ValueListenerDrawer.cs
  Editor/Core/Drawers/ValueListenerDrawer.cs.meta
  Runtime/Core/Utils/ValueListener.cs
  package.json
Labels: enhancement, module:core

#52 Fix ReadOnly height bug
  CHANGELOG.md
  Editor/Core/Tools/Drawers/ReadOnlyDrawer.cs
Labels: bug, module:core

#53 Fix EventSystem creation for Dev Console
  CHANGELOG.md
  Runtime/Core/Consoles/Console.cs
  Runtime/Core/Consoles/ConsoleManager.cs
  Runtime/Core/Consoles/Resources/ConsolePanelSettings.asset
Labels: bug, module:core

#55 Add string extensions documentation #49
  CHANGELOG.md
  Documentation~/Extensions.md
  Runtime/Core/Extensions/StringExtensions.cs
Labels: documentation, module:core

#63 Created a `CooldownManager` to update all `Cooldown`
  CHANGELOG.md
  README.md
  Runtime/Core/Cooldown.cs
  Runtime/Core/Utils/CooldownManager.cs
  Runtime/Core/Utils/CooldownManager.cs.meta
Labels: documentation, enhancement, module:core

#65 Array Extensions #64
  CHANGELOG.md
  Documentation~/Extensions.md
  Runtime/Core/Extensions/ArrayExtensions.cs
  Runtime/Core/Extensions/ListExtensions.cs
Labels: documentation, enhancement, module:core

#68 Add Clear() extensions #40
  CHANGELOG.md
  Documentation~/Extensions.md
  README.md
  Runtime/Core/Extensions/TransformExtensions.cs
  Runtime/Core/Extensions/TransformExtensions.cs.meta
Labels: documentation, enhancement, module:core

#69 PonderateRandom #46
  CHANGELOG.md
  Editor/Core/Drawers.meta
  Editor/Core/Tools/Drawers/PonderateRandomDrawer.cs
  Editor/Core/Tools/Drawers/PonderateRandomDrawer.cs.meta
  Editor/Core/Tools/Drawers/ValueListenerDrawer.cs
  Editor/Core/Tools/Drawers/ValueListenerDrawer.cs.meta
  README.md
  Runtime/Core/Extensions/NumberExtensions.cs
  Runtime/Core/Utils/PonderateRandom.cs
  Runtime/Core/Utils/PonderateRandom.cs.meta
Labels: documentation, enhancement, module:core

#71 TopDownController with sample #15
  CHANGELOG.md
  Documentation~/Movement/top_down_controller.PNG
  README.md
  Runtime/Movement/Components/OldMovementInput.cs
  Runtime/Movement/Components/SimpleCameraController.cs
  Runtime/Movement/Components/SimpleCameraController.cs.meta
  Runtime/Movement/Components/TopDownController.cs
  Runtime/Movement/Components/TopDownController.cs.meta
  Samples~/Movement/Materials.meta
  Samples~/Movement/Materials/Black.mat
  Samples~/Movement/Materials/Black.mat.meta
  Samples~/Movement/Materials/Blue.mat
  Samples~/Movement/Materials/Blue.mat.meta
  Samples~/Movement/Materials/Ground.mat
  Samples~/Movement/Materials/Ground.mat.meta
  Samples~/Movement/Materials/Red.mat
  Samples~/Movement/Materials/Red.mat.meta
  Samples~/Movement/Materials/Wall.mat
  Samples~/Movement/Materials/Wall.mat.meta
  Samples~/Movement/TopDown.meta
  Samples~/Movement/TopDown/TopDown.unity
  Samples~/Movement/TopDown/TopDown.unity.meta
  package.json
Labels: documentation, enhancement, module:movement

#73 Add UI module documentation and sample
  CHANGELOG.md
  Documentation~/UI/sample_hierarchy.PNG
  README.md
  Runtime/UI/BackBehaviour.cs
  Runtime/UI/Editor.meta
  Runtime/UI/Editor/ScriptTemplates.meta
  Runtime/UI/Editor/ScriptTemplates/80-BaseTool__UI__View Class-NewViewClass.cs.txt
  Runtime/UI/Editor/ScriptTemplates/80-BaseTool__UI__View Class-NewViewClass.cs.txt.meta
  Runtime/UI/Editor/UICustomScriptTemplates.cs
  Runtime/UI/Editor/UICustomScriptTemplates.cs.meta
  Runtime/UI/Navigation.cs
  Runtime/UI/NavigationArgs.cs
  Runtime/UI/NavigationEntry.cs
  Runtime/UI/Views/APage.cs
  Runtime/UI/Views/AView.cs
  Runtime/UI/Views/View.cs
  Runtime/UI/Views/View.cs.meta
  Samples~/UI/Navigation.unity
  Samples~/UI/Navigation.unity.meta
  Samples~/UI/Scripts.meta
  Samples~/UI/Scripts/HomeView.cs
  Samples~/UI/Scripts/HomeView.cs.meta
  Samples~/UI/Scripts/RootView.cs
  Samples~/UI/Scripts/RootView.cs.meta
  Samples~/UI/Scripts/SettingsView.cs
  Samples~/UI/Scripts/SettingsView.cs.meta
  Samples~/UI/Scripts/ThreadView.cs
  Samples~/UI/Scripts/ThreadView.cs.meta
  Samples~/UI/Scripts/Threads.meta
  Samples~/UI/Scripts/Threads/FriendThreadView.cs
  Samples~/UI/Scripts/Threads/FriendThreadView.cs.meta
  Samples~/UI/Scripts/Threads/MyThreadView.cs
  Samples~/UI/Scripts/Threads/MyThreadView.cs.meta
  package.json
Labels: documentation, enhancement, module:ui

#76 fix Console.cs create EventSytem when there is already one
  Runtime/Core/Consoles/Console.cs
Labels: bug, module:core

#79 Fix accessor condition drawer #78
  CHANGELOG.md
  Editor/Core/Tools/Drawers/ConditionalDrawer.cs
  Editor/Core/Tools/Drawers/IfDrawer.cs
  Editor/Core/Tools/Drawers/IfNotDrawer.cs
Labels: bug, module:core

#88 Add Tests #87
  CHANGELOG.md
  Runtime/Core/Extensions/ColorExtensions.cs
  Runtime/Core/Extensions/RandomExtensions.cs
  Tests.meta
  Tests/Editor.meta
  Tests/Runtime.meta
  Tests/Runtime/ColorTest.cs
  Tests/Runtime/ColorTest.cs.meta
  Tests/Runtime/Lignus.BaseTool.Tests.asmdef
  Tests/Runtime/Lignus.BaseTool.Tests.asmdef.meta
  Tests/Runtime/MathUtilsTest.cs
  Tests/Runtime/MathUtilsTest.cs.meta
Labels: enhancement, module:core

#89 Add MathUtils.Approximately #86
  CHANGELOG.md
  README.md
  Runtime/Core/Utils/MathUtils.cs
  Tests/Runtime/MathUtilsTest.cs
Labels: documentation, enhancement, module:core

#92 Message Attribute #91
  CHANGELOG.md
  Documentation~/Editor/message_attribute.PNG
  Editor/Core/Tools/Drawers/MessageDrawer.cs
  Editor/Core/Tools/Drawers/MessageDrawer.cs.meta
  README.md
  Runtime/Core/Tools/Attributes/MessageAttribute.cs
  Runtime/Core/Tools/Attributes/MessageAttribute.cs.meta
  package.json
Labels: documentation, enhancement, module:core

#93 Button Attribute #18
  CHANGELOG.md
  Documentation~/Editor/button_attribute.png
  Editor/Core/Tools/BaseToolInspector.cs
  Editor/Core/Tools/BaseToolInspector.cs.meta
  Editor/Core/Tools/Drawers/ButtonDrawer.cs
  Editor/Core/Tools/Drawers/ButtonDrawer.cs.meta
  Editor/Core/Tools/Drawers/PonderateRandomDrawer.cs
  README.md
  Runtime/Core/Tools/Attributes/ButtonAttribute.cs
  Runtime/Core/Tools/Attributes/ButtonAttribute.cs.meta
Labels: documentation, enhancement, module:core

#97 Add EnableIf and DisableIf #95
  CHANGELOG.md
  Editor/Core/Tools/Drawers/DisableIfDrawer.cs
  Editor/Core/Tools/Drawers/DisableIfDrawer.cs.meta
  Editor/Core/Tools/Drawers/EnableIfDrawer.cs
  Editor/Core/Tools/Drawers/EnableIfDrawer.cs.meta
  README.md
  Runtime/Core/Tools/Attributes/DisableIfAttribute.cs
  Runtime/Core/Tools/Attributes/DisableIfAttribute.cs.meta
  Runtime/Core/Tools/Attributes/EnableIfAttribute.cs
  Runtime/Core/Tools/Attributes/EnableIfAttribute.cs.meta
Labels: documentation, enhancement, module:core

#99 Prefix and Suffix attributes #98
  CHANGELOG.md
  Documentation~/Editor/prefix_attribute.PNG
  Documentation~/Editor/suffix_attribute.PNG
  Editor/Core/Tools/Drawers/PrefixDrawer.cs
  Editor/Core/Tools/Drawers/PrefixDrawer.cs.meta
  Editor/Core/Tools/Drawers/SuffixDrawer.cs
  Editor/Core/Tools/Drawers/SuffixDrawer.cs.meta
  README.md
  Runtime/Core/Tools/Attributes/PrefixAttribute.cs
  Runtime/Core/Tools/Attributes/PrefixAttribute.cs.meta
  Runtime/Core/Tools/Attributes/SuffixAttribute.cs
  Runtime/Core/Tools/Attributes/SuffixAttribute.cs.meta
Labels: documentation, enhancement, module:core
